<div class="bar_charts">
	<div class="header fixed">
			<span>VQ8  Styleguide</span>
			<span>Bar charts</span>
			<img src="images/logo.png" alt="">
		</div>
		<div class="title fixed">Standard bars</div>
		<div class="single_color fixed">
			<div class="headers">Single color</div>
			<div class="subheader">For single metric dynamics on time scale</div>
			<div class="image"></div>
			<div class="subheader">Default</div>
			<div class="subheader">Additional</div>
			<table>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">22  115  27</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">254  132  31</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">11  143  255</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">58  165  255</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">89  89  89</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">101  101  101</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
			</table>
		</div>
		<div class="multi_colors fixed">
			<div class="headers">Multi colors</div>
			<div class="subheader">For few metrics comparison</div>
			<div class="image"></div>
			<table><tr>
					<td><div class="grad"></div></td>
					<td><div class="value">222  115  27</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">254  132  31</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">11  143  255</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">58  165  255</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">111  176  21</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">145  229  27</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">222  177  0</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">244  195  9</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">205  44  82</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">229  49  92</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">129  107  215</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">147  123  239</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">141  141  141</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">184  184  184</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">0  162  141</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">0  207  180</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
			</table>
		</div>
		<div class="variance fixed">
			<div class="headers">Variance</div>
			<div class="subheader">For performance comparison and dynamics on time scale</div>
			<div class="image"></div>
			<table>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">212  55  12</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">231  77  36</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">20%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">243  146  0</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">255  168  0</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">20%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">7  170  0</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">8  197  0</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">20%</div></td>
				</tr>
			</table>
		</div>
		<div class="title stacked fixed">Stacked bars</div>
		<div class="stacked_bars fixed">
			<div class="headers">Two metrics</div>
			<div class="subheader">For two metrics comparison and dynamics on time scale</div>
			<div class="image"></div>
			<div class="subheader">Default</div>
			<div class="subheader">Additional 1</div>
			<div class="subheader">Additional 2</div>
			<table>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">22  115  27</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">254  132  31</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">11  143  255</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">58  165  255</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">89  89  89</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">101  101  101</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
			</table>
		</div>
		<div class="perfomance_color fixed">
			<div class="headers">Performance color coding</div>
			<div class="subheader">For performance comparison and dynamics on time scale</div>
			<div class="image"></div>
			<table>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">212  55  12</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">231  77  36</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">20%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">243  146  0</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">255  168  0</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">20%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">7  170  0</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">8  197  0</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">20%</div></td>
				</tr>
			</table>
		</div>
		<div class="many_metrics fixed">
			<div class="headers">Many metrics</div>
			<div class="subheader">For few metrics comparison and dynamics on time scale<br>
Recommended not to exceed 8 colors</div>
			<div class="image"></div>
			<table>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">14  88  141</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">255  237  0</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">0  185  238</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">145  229  27</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">129  105  222</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">116  135  174</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">236  45  68</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">255  255  214</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">254  132  31</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">247  178  132</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
			</table>
		</div>
		<div class="title multiple fixed">Multiple bars</div>
		<div class="multiple_bars fixed">
			<div class="headers">Basic</div>
			<div class="subheader">For two metrics comparison and dynamics on time scale</div>
			<div class="image"></div>
			<div class="subheader">Default</div>
			<div class="subheader">Additional 1</div>
			<div class="subheader">Additional 2</div>
			<table>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">22  115  27</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">254  132  31</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">11  143  255</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">58  165  255</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
				<tr>
					<td><div class="grad"></div></td>
					<td><div class="value">89  89  89</div></td>
					<td><div class="triangle"></div></td>
					<td><div class="value">101  101  101</div></td>
					<td><div class="check"></div></td>
					<td><div class="value">35%</div></td>
				</tr>
			</table>
		</div>
		<div class="additional_colors fixed">
			<div class="headers">Additional color palete</div>
			<div class="subheader">For few metrics comparison and dynamics on time scale<br>
				Recommended not to exceed 5 bars per stack
			</div>
			<div class="image"></div>
			<div class="subheader">Default</div>
			<div class="subheader">Additional</div>
			<table>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">14  88  141</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">255  237  0</div></td>
				</tr>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">0  185  238</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">145  229  27</div></td>
				</tr>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">129  105  222</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">116  135  174</div></td>
				</tr>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">236  45  68</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">255  255  214</div></td>
				</tr>
				<tr>
					<td><div class="color"></div></td>
					<td><div class="value">254  132  31</div></td>
					<td><div class="color"></div></td>
					<td><div class="value">247  178  132</div></td>
				</tr>
			</table>
		</div>
		<div class="title fonts fixed">Fonts</div>
		<div class="bar_fonts fixed">
			<table>
				<tr>
					<td>
						<div class='font'>Arial  8 pt.</div>
						<div class="color"></div>
						<div class="value">223  223  223</div>
					</td>
				</tr>
			</table>
			<div class="image"></div>
		</div>
</div>