<div class="cumulative-chart">
	<div class="header fixed">
		<span>VQ8  Styleguide</span>
		<span>Cumulative Chart</span>
		<img src="images/logo.png" alt="">
	</div>
	<div class="title fixed">Examples</div>
	<div class="images fixed">
		<div></div>
	</div>
	<div class="title fixed">Details</div>
	<div class="cumul-chart fixed">
		<div>Cumulative chart</div>
		<div>
			
		</div>
	</div>
	<div class="stack-chart fixed">
		<div>Stacks chart</div>
		<div>
			
		</div>
	</div>
	<div class="title fixed">Fonts</div>
	<div class="fonts">	
		<div class="image">			
		</div>
		<div class="axes">
			<div>Chart axes</div>
			<div class="white">Arial  10 pt.<div></div>
			<span>223  223  223</span>
		</div>
		</div>
	</div>
</div>