<div class="data-types">
	<div class="header fixed">
		<span>VQ8  Styleguide</span>
		<span>Data types formating</span>
		<img src="images/logo.png" alt="">
	</div>
	<div class="title fixed">Dates</div>
	<div class="data-dates fixed">
		<div class="date">			
			<div class="headers">DD-Mon-YYYY</div>
			<div class="subheader">28-Feb-2014</div>
		</div>
		<div class="date">	
			<div class="headers">Mon-YYYY</div>
			<div class="subheader">Feb-2014</div>
		</div>
		<div class="date">	
			<div class="headers">DD-Mon</div>
			<div class="subheader">DD-Mon</div>
		</div>
		<div class="date">	
			<div class="headers">Mon</div>
			<div class="subheader">Feb</div>
		</div>
		<div class="date">	
			<div class="headers">YYYY</div>
			<div class="subheader">YYYY</div>
		</div>
		<div class="image"></div>
	</div>
	<div class="title numeric fixed">Big numeric data (accounts)</div>
	<div class="big-data fixed">
		<div class="subheader">Convert digits to letters, use space before minus, display 1 symbol after the dot</div>
		<div class="subheader">Positive:</div>
		<div class="image1"></div>
		<div class="subheader">Negative:</div>
		<div class="image2"></div>
	</div>
	<div class="title cash-title fixed">Cash</div>
	<div class="cash fixed">
		<div class="subheader">Convert digits to letters, use space before minus, always use dollar symbol and space before it, display 1 symbol after the dot</div>
		<div class="subheader">Positive:</div>
		<div class="image1"></div>
		<div class="subheader">Negative:</div>
		<div class="image2"></div>
	</div>
	<div class="title percentage-title fixed">Percentages</div>
	<div class="percentage fixed">
		<div class="subheader">Use space before minus and before % symbol, display 2 symbols after the dot</div>
		<div class="subheader">Positive:</div>
		<div class="image1"></div>
		<div class="subheader">Negative:</div>
		<div class="image2"></div>
	</div>
</div>