<div class="donut-chart">
	<div class="header fixed">
			<span>VQ8  Styleguide</span>
			<span>Donut Chart</span>
			<img src="images/logo.png" alt="">
		</div>
		<div class="title fixed">Donut Chart</div>
		<div class="chart_examles fixed">
			<div class="headers">Example</div>
			<div class="subheader">To provide best chart comprehension it’s highly recommened not to exceed 8 color sectors per chart</div>
			<div class="image"></div>
		</div>
		<div class="chart_sizes fixed">
			<div class="donut_sizes">
				<div class="headers">Sizes</div>
				<div class="image"></div>
				<div class="value">30%</div>
				<div class="value">32%</div>
				<div class="value">35%</div>
				<div class="value">1.542</div>
				<div class="value">1.177</div>
				<div class="value">0.969</div>
			</div>
			<div class="donut_fonts fixed">
				<div class="headers">Fonts</div>
				<table class="fonts">
					<th class="size1">Size 1:</th>
					<tr>
						<td class="subheader">Metric:</td>
						<td>Arial 16 pt. (bold)</td>
						<td>
							<div></div>
							<div class="value">0  87  109</div></td>
					</tr>
					<tr>
						<td class="subheader">Label:</td>
						<td>Arial 11 pt</td>
						<td>
							<div></div>
							<div class="value">53  174  0</div>
						</td>
					</tr>
				</table>
				<table class="fonts">
					<th class="size2">Size 2:</th>
					<tr>
						<td class="subheader">Metric:</td>
						<td>Arial 16 pt. (bold)</td>
						<td>
							<div></div>
							<div class="value">0  87  109</div></td>
					</tr>
					<tr>
						<td class="subheader">Label:</td>
						<td>Arial 11 pt</td>
						<td>
							<div></div>
							<div class="value">53  174  0</div>
						</td>
					</tr>
				</table>
				<table class="fonts">
					<th class="size3">Size 3:</th>
					<tr>
						<td class="subheader">Size 3 charts should be used without values inside donut.</td>
					</tr>
				</table>
			</div>
			<div class="standart_colors fixed">
				<div class="headers">Standard colors</div>
				<div class="subheader">Recommended to use the following order</div>
				<table class="colors">
					<tr>
						<td>
							<div></div>
							<div class="value">145  229  27</div>
						</td>
						<td>
							<div></div>
							<div class="value">143  243  255</div>
						</td>
						<td>
							<div></div>
							<div class="value">0  87  109</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">255  237  0</div>
						</td>
						<td>
							<div></div>
							<div class="value">255  183  80</div>
						</td>
						<td>
							<div></div>
							<div class="value">53  174  0</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">254  132  31</div>
						</td>
						<td>
							<div></div>
							<div class="value">210  86  171</div>
						</td>
						<td>
							<div></div>
							<div class="value">255  242  93</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">236  45  68</div>
						</td>
						<td>
							<div></div>
							<div class="value">242  159  197</div>
						</td>
						<td>
							<div></div>
							<div class="value">170  87  54</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">129  105  222</div>
						</td>
						<td>
							<div></div>
							<div class="value">160  0  87</div>
						</td>
						<td>
							<div></div>
							<div class="value">255  127  102</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">0  185  238</div>
						</td>
						<td>
							<div></div>
							<div class="value">0  107  45</div>
						</td>
						<td>
							<div></div>
							<div class="value">124  74  93</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">0  105  180</div>
						</td>
						<td>
							<div></div>
							<div class="value">176  255  149</div>
						</td>
						<td>
							<div></div>
							<div class="value">152  186  255</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">116  135  174</div>
						</td>
						<td>
							<div></div>
							<div class="value">0  148  141</div>
						</td>
						<td>
							<div></div>
							<div class="value">255  255  255</div>
						</td>
					</tr>
				</table>
				<div class="image"></div>
			</div>
			<div class="double_charts fixed">
				<div class="headers">Double charts</div>
				<div class="subheader">Double donut charts can be applied for ralated metrics.</div>
				<div class="image"></div>
			</div>
		</div>
</div>