<div class="line_charts">
	<div class="header fixed">
			<span>VQ8  Styleguide</span>
			<span>Line charts</span>
			<img src="images/logo.png" alt="">
		</div>
		<div class="title fixed">Types & styles</div>
		<div class="types_styles fixed">
			<div class="headers">Multiline</div>
			<div class="image"></div>
			<div class="value">d 35</div>
			<div class="value">0.010 ″</div>
			<div class="value">1,5 pt.</div>
			<div class="lines">
				<div class="headers">Lines colors</div>
				<table>
					<tr>
						<td>
							<div></div>
							<div class="value">255  50  50</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">7  170  0</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">243  146  0</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="types_type1 fixed">
			<div class="headers">Type 1: with filling</div>
			<div class="subheader">Standard type.</div>
			<div class="image"></div>
			<div class="value">d 40</div>
			<div class="value">0.010 ″</div>
			<div class="value">1,5 pt.</div>
			<div class="lines">
				<div class="headers">Colors</div>
				<table>
					<tr>
						<td>
							<div></div>
							<div class="value">223  223  223</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">223  223  223</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">80%</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="types_type2 fixed">
			<div class="headers">Type 2: lesser singleline	with filling</div>
			<div class="subheader">For small widgets.</div>
			<div class="image"></div>
			<div class="value">d 32</div>
			<div class="value">0.010 ″</div>
			<div class="value">1,5 pt.</div>
			<div class="lines">
				<div class="headers">Colors</div>
				<table>
					<tr>
						<td>
							<div></div>
							<div class="value">58  130  201</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">58  130  201</div>
						</td>
					</tr>
					<tr>
						<td>
							<div></div>
							<div class="value">80%</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="title title-fonts fixed">Fonts</div>
		<div class="title_fonts fixed">
			<table>
				<tr>
					<td>Arial  8 pt.</td>
					<td>
						<div></div>
						<div class="value">223  223  223</div>
					</td>
				</tr>
			</table>
			<div class="image"></div>
		</div>
</div>