<div class="mini-widgets">
			<div class="header fixed">
				<span>VQ8  Styleguide</span>
				<span>Mini widgets</span>
				<img src="images/logo.png" alt="">
			</div>
			<div class="title fixed">Mini widgets</div>
			<div class="sizes fixed">
				<div>Structure & sizes</div>
				<div>Examples</div>
				<div>horizontally scalable</div>
				<div>0.5833 ″</div>
				<div>1.2500 ″</div>
				<img src="images/Mini_Widgets/mini_vid_1.png" alt="">
			</div>
			<div class="alignments fixed">
				<div>Mini trend alignment</div>
				<div>0.0937 ″</div>
				<div>0.0937 ″</div>
				<div>0.1041 ″</div>
				<div>0.1041 ″</div>
				<div>Mini trend size 2</div>
				<div>Metrics alignment</div>
				<div>Align center</div>
				<div>Align center</div>
				<img src="images/Mini_Widgets/mini_vid_2.png" alt="">
			</div>
			<div class="fonts fixed">
				<div>Fonts</div>
				<div >Grids</div>
				<div class="white">Arial  14 pt.<div></div>
					<span>223  223  223</span>
				</div>
				<div class="grey">Arial  10 pt.<div></div>
					<span>169  169  169</span>
				</div>
				<div class="red">Arial  10 pt.<div></div>
					<span>255  50  50</span>
				</div>
				<div class="green">Arial  10 pt.<div></div>
					<span>7  170  0</span>
				</div>
				<div class="yellow">Arial  10 pt.<div></div>
					<span>243  146  0</span>
				</div>


				<img src="images/Mini_Widgets/mini_vid_3.png" alt="">
				<div class="black_black">0.1041 ″
					<div>
						<div></div>
						<span>16  16  16</span>
					</div>
				</div>

				<div class="black">0.1041 ″
					<div>
						<div></div>
						<span>59  59  59</span>
					</div>
				</div>

				<div class="black_grey">0.1041 ″
					<div>
						<div></div>
						<span>29  29  29</span>
					</div>
				</div>
			</div>
</div>