

<div class="mini-trends">
	<div class="header fixed">
		<span>VQ8  Styleguide</span>
		<span>Mini Trends</span>
		<img src="images/logo.png" alt="">
	</div>
	<div class="title fixed">Charts types</div>
	<div class="size fixed">
		<div>Sizes:</div>
		<div class="basic-color">Basic color</div>
		<div class="addition-color">Addition color</div>
		<div class="bars">Bars
			<p>For bucket metrics (ex. Aging, 
DNFB) and 13 Month Trends.</p>
		</div>
		<div class="charts"></div>
		<div class="cumulative">Cumulative
			<p>Cumulative metrics (ex. Cash).</p>
		</div>
		<div class="line">Line
			<p>Dynamic metrics.</p>
		</div>
	</div>
	<div class="size2 fixed">
		<div>Sizes:</div>
		<div class="image"></div>
		<div class="siz1">Size 1:
			<p>Default. Best for big insigt table widgets with hight data density.</p>
		</div>
		<div class="siz2">Size 2:
			<p>For table widgets with lower data density and lesser number of rows (max. 8).</p>
		</div>
		<div class="siz3">Size 3:
			<p>For mini widgets with single trends.</p>
		</div>
	</div>
	<div class="title fixed">Charts types</div>
	<div class="types fixed">
		<div>Bars:</div>
		<div class="image"></div>
		<div class="siz1">Size 1:</div>
		<div class="siz2">Size 2:</div>
		<div class="siz3">Size 3:</div>
		<div class="bar"></div>
		<div class="siz1">Size 1: <span>40%</span></div>
		<div class="siz2">Size 2: <span>50%</span></div>
		<div class="siz3">Size 3: <span>50%</span></div>
		<div class="colors">
			<div>Colors:</div>
			<div class="basic">Basic color:<br>
				<div></div>
				<span>215  115  32</span>			
			</div>
			<div class="additional">Addition color:<br>
				<div></div>
				<span>0  159  227</span>
			</div>
		</div>	
	</div>

	<div class="cumul fixed">
		<div>Cumulative::</div>
		<div class="image"></div>
		<div class="siz1">Size 1:</div>
		<div class="siz2">Size 2:</div>
		<div class="siz3">Size 3:</div>
		<div class="bar"></div>
		<div class="siz1">Size 1: <span>1 pt.</span></div>
		<div class="siz2">Size 2: <span>1,5 pt.</span></div>
		<div class="siz3">Size 3: <span>2 pt.</span></div>
		<div class="colors">
			<div>Colors:</div>
			<div class="basic">Basic color:<br>
				<div></div>
				<span>215  115  32</span>
				<div class="rect"></div> <span>25%</span>
				<div class="white"></div>
				<span>205  205  205</span>
				<div class="rect"></div>
			</div>
			<div class="additional">Addition color:<br>
				<div></div>
				<span>0  159  227</span>
				<div class="rect"></div> <span>25%</span>
				<div class="white"></div>
				<span>205  205  205</span>
				<div class="rect"></div>
			</div>
		</div>	
	</div>
</div>