<div class="perfomance">
	<div class="header fixed">
		<span>VQ8  Styleguide</span>
		<span>Performance indication bars</span>
		<img src="images/logo.png" alt="">
	</div>
	<div class="title fixed">Performance types</div>
	<div class="perfomance-types fixed">
		<div class="type1">
			<div class="headers">Type 1</div>
			<div class="image1"></div>
			<div class="image2"></div>
		</div>
		<div class="type2">
			<div class="headers">Type 2</div>
			<div class="image1"></div>
			<div class="image2"></div>
		</div>
	</div>
	<div class="title perf-sizes fixed">Performance types</div>
	<div class="perfomance-sizes fixed">
		<div class="size_type1">
			<div class="headers">Type 1</div>
			<div class="image"></div>
			<div class="mini-value">Row type 2</div>
			<div class="mini-value">horizontally scalable</div>
			<div class="value">0.1667 ″</div>
			<div class="value">0.1667 ″</div>
			<div class="value">0.1458 ″</div>
			<div class="value">0.1458 ″</div>
			<div class="mini-value">thin border</div>
			<div class="value">0.0729 ″</div>
		</div>
		<div class="perfomance-fonts">
			<div class="headers">Fonts</div>
			<div class="font red">
				<span class="9pt">Arial 9 pt.</span>
				<div></div>
				<span class="value">255  50  50</span>
			</div>
			<div class="font green">
				<span class="9pt">Arial 9 pt.</span>
				<div></div>
				<span class="value">7  170  0</span>
			</div>
			<div class="font yellow">
				<span class="9pt">Arial 9 pt.</span>
				<div></div>
				<span class="value">243  146  0</span>
			</div>
		</div>
		<div class="gradients">
			<div class="headers">Bars gradients</div>
			<div class="grad green">
				<div class="gradrect"></div>
				<span class="value">6  140  0</span>
				<div class="triangle"></div>
				<span class="value">8  197  0</span>
				<div class="check"></div>
				<span class="value">20%</span>
			</div>
			<div class="grad yellow">
				<div class="gradrect"></div>
				<span class="value">255  186  0</span>
				<div class="triangle"></div>
				<span class="value">255  186  0</span>
				<div class="check"></div>
				<span class="value">20%</span>
			</div>
			<div class="grad red">
				<div class="gradrect"></div>
				<span class="value">255  65  51</span>
				<div class="triangle"></div>
				<span class="value">255  65  51</span>
				<div class="check"></div>
				<span class="value">20%</span>
			</div>
		</div>
		<div class="size_type2">
			<div class="headers">Type 2</div>
			<div class="image"></div>
			<div class="mini-value">Row type 2</div>
			<div class="mini-value">horizontally scalable</div>
			<div class="value">0.1667 ″</div>
			<div class="value">0.1667 ″</div>
			<div class="value">0.1250 ″</div>
			<div class="value">0.1250 ″</div>
			<div class="mini-value">thin border</div>
			<div class="value">0.1250 ″</div>
		</div>
		<div class="perfomance-fonts">
			<div class="headers">Fonts</div>
			<div class="font red">
				<span class="10pt">Arial 10 pt.</span>
				<div></div>
				<span class="value">255  50  50</span>
			</div>
			<div class="font green">
				<span class="10pt">Arial 10 pt.</span>
				<div></div>
				<span class="value">7  170  0</span>
			</div>
			<div class="font yellow">
				<span class="10pt">Arial 10 pt.</span>
				<div></div>
				<span class="value">243  146  0</span>
			</div>
		</div>
		<div class="gradients">
			<div class="headers">Bars gradients</div>
			<div class="grad green">
				<div class="gradrect"></div>
				<span class="value">6  140  0</span>
				<div class="triangle"></div>
				<span class="value">8  197  0</span>
				<div class="check"></div>
				<span class="value">20%</span>
			</div>
			<div class="grad yellow">
				<div class="gradrect"></div>
				<span class="value">255  186  0</span>
				<div class="triangle"></div>
				<span class="value">255  186  0</span>
				<div class="check"></div>
				<span class="value">20%</span>
			</div>
			<div class="grad red">
				<div class="gradrect"></div>
				<span class="value">255  65  51</span>
				<div class="triangle"></div>
				<span class="value">255  65  51</span>
				<div class="check"></div>
				<span class="value">20%</span>
			</div>
	</div>
</div>