<div class="tables">
	<div class="header fixed">
		<span>VQ8  Styleguide</span>
		<span>Tables</span>
		<img src="images/logo.png" alt="">
	</div>
	<div class="title fixed">Sizes & Types</div>	
	<div class="types fixed">	
		<div class="type1">
			<div>Type 1: Standard row height</div>
			<div>Recommended for big table widgets with high data density.</div>
			<div>0.4166 ″</div>
			<div class="image"></div>
		</div>
		<div class="fill">
			<div>Rows fillings</div>
			<div class="grey">
				<div></div>
				<span>39  39  39</span>
			</div>
			<div class="black">
				<div></div>
				<span>33  33  33</span>
			</div>
		</div>
		<div class="type2">
			<div>Type 2: Enlarged row height</div>
			<div>Recommended for table widgets with lower data density & lesser number of rows (max. 8).</div>
			<div>0.5208 ″</div>
			<div class="image"></div>
		</div>
		<div class="fill2">
			<div>Rows grids</div>
			<div class="grey">
				<p>0.0104 ″</p>
				<div></div>
				<span>16  16  16</span>
			</div>
			<div class="black">
				<p>0.0104 ″</p>
				<div></div>
				<span>59  59  59</span>
			</div>
		</div>
		<div class="brown">
			<p>0.0104 ″</p>
			<div></div>
			<span>59  59  59</span>
		</div>
		<div class="chart_related">
			<div>Chart related</div>
			<span>For standard chart widgets.</span>
			<div class="image1"></div>
			<div>0.7291 ″</div>
			<span>For small chart widgets.</span>
			<div class="image2"></div>
			<div>0.5208 ″</div>
		</div>
	</div>
	<div class="title label fixed">Labels</div>
	<div class="labels fixed">
		<div class="type1">
			<div class="headers">Type 1: Standard label</div>
			<div class="image"></div>
			<div class="value">0.4166 ″</div>
		</div>
		<div class="type2">
			<div class="headers">Type 2: Enlarged label</div>
			<div class="subheader">For labels with hyphenation</div>
			<div class="image"></div>
			<div class="value">0.5208 ″</div>
		</div>
	</div>
	<div class="title margins fixed">Text margin</div>
	<div class="margin fixed">
		<div class="margin1">
			<div class="headers">Table labels horizontal margin</div>
			<div class="subheader">Vertically centered.</div>
			<div class="image"></div>
		</div>	
		<div class="margin2">
			<div class="headers">Table labels horizontal margin</div>
			<div class="subheader">Column type related. Always left for character values, always right for numeric values.</div>
			<div class="image"></div>
			<div class="value">0.2083 ″</div>
			<div class="value">0.1041 ″</div>
			<div class="value">0.1041 ″</div>
			<div class="value">0.1250 ″</div>
		</div>
		<div class="type1">
			<div class="headers">Type 1: Standard rows text margin</div>
			<div class="image"></div>
			<div class="value">0.1458 ″</div>
			<div class="value">0.1041 ″</div>
		</div>
		<div class="type2">
			<div class="headers">Type 2: Enlarged rows text margin</div>
			<div class="image"></div>
			<div class="value">0.1979 ″</div>
			<div class="value">0.1041 ″</div>
		</div>
		<div class="chartrelated">
			<div class="headers">Chart related</div>
			<div class="subheader">For numeric values only, align right.</div>
			<div class="image"></div>
			<div class="value">0.1770 ″</div>
			<div class="value">0.1875 ″</div>
			<div class="value">0.1041 ″</div>
		</div>
		<div class="datatypes">
			<div class="headers">Data types alignment</div>
			<div class="subheader">Always left for character values. Always right for numeric values.</div>
			<div class="image"></div>
			<div class="leftalign">Left align text</div>
			<div class="rightalign">Right align text</div>
		</div>
	</div>
	<div class="title object fixed">Object margin</div>
	<div class="objectmargin fixed">
		<div class="trends">
			<div class="headers">Mini trends</div>
			<div class="image"></div>
			<div class="value">0.0729 ″</div>
			<div class="value">0.0833 ″</div>
			<div class="value">0.1041 ″</div>
			<div class="value">0.1041 ″</div>
		</div>
		<div class="bars">
			<div class="headers">Stacked bars</div>
			<div class="image"></div>
			<div class="value">0.1458 ″</div>
			<div class="value">0.1562 ″</div>
			<div class="value">0.1250 ″</div>
			<div class="value">0.1250 ″</div>
		</div>
		<div class="donut">
			<div class="headers">Donut charts</div>
			<div class="subheader">Centered vertically and horizontally.</div>
			<div class="image"></div>
		</div>
		<div class="barchart">
			<div class="headers">Bar charts</div>
			<div class="subheader">Centered vertically and horizontally.</div>
			<div class="image"></div>
		</div>
		<div class="otherobjects">
			<div class="headers">Other objects</div>
			<div class="subheader">Centered vertically and horizontally.</div>
			<div class="image"></div>
		</div>
	</div>
</div>