<div class="variance">
	<div class="header fixed">
		<span>VQ8  Styleguide</span>
		<span>Variance</span>
		<img src="images/logo.png" alt="">
	</div>
	<div class="title fixed">Variance</div>
	<div class="data fixed">
		<div class="arrows">
			<div class="green">
				<div class="arrow"></div>
				<span>positive variance</span>
				<div></div>
				<span>7  170  0</span>
			</div>
			<div class="yellow">
				<div class="arrow"></div>
				<span>minor variance </span>
				<div></div>
				<span>243  146  0</span>
			</div>
			<div class="red">
				<div class="arrow"></div>
				<span>negative variance</span>
				<div></div>
				<span>255  50  50</span>
			</div>
		</div>
		<div class="table"></div>
		<div class="align">
			<div>Sizes and alignment</div>
			<div class="image"></div>
			<div>Align bottom edge</div>
			<div>0.167 ″</div>
			<div>0.104 ″</div>
			<div>0.156 ″</div>
		</div>
	</div>
</div>