<div class="widgets">
	<div class="background">
		<div class="header fixed">
			<span>VQ8  Styleguide</span>
			<span>Background</span>
			<img src="images/logo.png" alt="">
		</div>
		<div class="title fixed">Background</div>
		<div class="image"></div>
		<div class="fill-color">Fill color:<br>
			<div></div>
			<span>39  39  39</span>			
		</div>
		<div class="texture">Texture 
		</div>
		<div class="inch">1.6666 ″</div>
	</div>
	<div class="title chart-grids fixed">Charts grids</div>
	<div class="chart_grids fixed">
		<div class="headers">Example</div>
		<div class="image"></div>
		<div class="value">0.0104 ″</div>
		<div class="color grey">
			<div></div>
			<span class="value">57  57  57</span>
		</div>
		<div class="value">0.0104 ″</div>
		<div class="color grey">
			<div></div>
			<span class="value">57  57  57</span>
		</div>
	</div>
	<div class="title title-titles fixed">Titles</div>
	<div class="titles fixed">
		<div class="example">
			<div class="headers">Example</div>
			<div class="image"></div>
			<div class="value">0.4166 ″</div>
		</div>
		<div class="gradient">
			<div class="headers">Titles gradient</div>
			<div class="grad grey">
				<div class="gradrect"></div>
				<div class="value">93  93  93</div>
				<div class="triangle"></div>
				<div class="value">50  50  50</div>
				<div class="check"></div>
				<div class="value">80%</div>
			</div>
		</div>
	</div>
	<div class="text-margin fixed">
		<div class="headers">Titles text margin</div>
		<div class="image"></div>
		<div class="value">0.1354 ″</div>
		<div class="value">0.1041 ″</div>
		<div class="value">0.1041 ″</div>
		<div class="value">0.1458 ″</div>
	</div>
	<div class="title-grids fixed">
		<div class="title_grids">
			<div class="headers">Titles grids</div>
			<div class="image"></div>
			<div class="value">0.0104 ″</div>
			<div class="color black">
				<div></div>
				<span class="value">19  19  19</span>
			</div>
			<div class="value">0.0104 ″</div>
			<div class="color grey">
				<div></div>
				<span class="value">16  16  16</span>
			</div>
			<div class="value">0.0104 ″</div>
			<div class="color dark_grey">
				<div></div>
				<span class="value">59  59  59</span>
			</div>
			
		</div>
		<div class="fonts">
				<div class="headers">Fonts</div>
				<div class="font">
					<span class="fourteen_pt">Arial  14 pt. (bold)</span>
					<div></div>
					<span class="value">179  179  179</span>
					<span>Title</span>
				</div>
				<div class="font">
					<span class="eleven_pt">Arial  11 pt.</span>
					<div></div>
					<span class="value">99  99  99</span>
					<span>Date</span>
				</div>
			</div>
	</div>
</div>